#include <Windows.h>

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    POPUP "&File"
    {
        MENUITEM "L&oad…\tCtrl+O", 0xC0
        MENUITEM SEPARATOR
        MENUITEM "Exi&t\tAlt+F4", IDCLOSE
    }

    POPUP "&About"
    {
        MENUITEM "&Source code…\tF1", 0xF1
    }
}

1 ACCELERATORS
{
    "^O", 0xC0 // Ctrl+O
    VK_F1, 0xF1, VIRTKEY
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    1   "C++ Coding Style Agnostic (and more) Search Example"
    2   "&Search:"
    3   "&Parameters:"

    0x0F "https://github.com/tringi/code-style-agnostic-search"

    0xC1 "C++ Code (*.c;*.cpp;*.h;*hpp;*.inl;*.tcc)"
    0xC2 "*.c;*.cpp;*.h;*hpp;*.inl;*.tcc"
    0xC3 "Text Files (*.txt)"
    0xC4 "*.txt"
    0xC5 "All Files"
    0xC6 "*.*"

    1001 "Match whole words"
    1002 "Match partial words even individually"
    1003 "Case-insensitive numbers"
    1004 "Case-insensitive strings"
    1005 "Case-insensitive comments"
    1006 "Case-insensitive identifiers"
    1007 "Fold and ignore diacritics in strings"
    1008 "Fold and ignore diacritics in comments"
    1009 "Fold and ignore diacritics in identifiers"
    1010 "Match digraphs and corresponding tokens"
    1011 "Match trigraphs and corresponding tokens"
    1012 "Match ISO646 tokens and corresponding operators"
    1013 "Ignore all syntactic tokens"
    1014 "Ignore all () parentheses"
    1015 "Ignore all [] brackets"
    1016 "Ignore all {} braces"
    1017 "Ignore trailing semicolons"
    1018 "Ignore trailing commas"
    1019 "Ignore all semicolons"
    1020 "Ignore all commas"
    1021 "Match different numeric notations"
    1022 "Match integers and floating literals of the same value"
    1023 "Match NULL/nullptr and 0"
    1024 "Match true/false to 0/1 integers"
    1025 "TBD"// "Unescape and colapse string literals"
    1026 "Ignore &&'s (keyboard accelerator hints) in strings"
    1027 "Ignore excessive * and / decorations in comments"
    1028 "Match if/else to conditional operator (?:)"
}
